



<div class="wrapper">
  <h1>Formulário de dados</h1>
  <form class="example-form">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Primeiro nome</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Segundo nome</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label> URL Foto do perfil</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
    <tr>
      
    </tr>
  </table>
  <div class="btns">
    <button mat-raised-button color="warn">Cancelar</button>
    <button mat-raised-button color="primary">Registrar</button>
  </div>
  </form>

</div>



